:markdown
  # Welcome to HyperGate!

  Your portal to the internet!

  Because everything old is new again.

  Also, because I wanted to try and build an app and then extract the pieces
  as services.

  ##Roadmap

  1. Add devise with users, login, registration, etc.
  2. Add a useful service for logged in users and logged out users. IE: RSS
    Feed reader. Logged in users can add feeds, logged out users can see the top
    feeds and the most recently updated feeds. Feeds are updated on a schedule in
    the background.
  3. Extract RSS feed reader to seperate service, keeping all user info in
    HyperGate.
  4. Extract user authentication to seperate service, keeping authorization in
    HyperGate or HyperGateRSS.
  5. Profit?
